body {
    padding: 50px;
<<<<<<< HEAD
    background-color: #F8F8F8;
=======
    background-color: #FFFFFF;
>>>>>>> 36a3cac0d69f80a7296f272bf419b78543c84d27
    font-family: sans-serif;
  }
  #container {
    display: flex;
    justify-content: center;
  }
  
  .todoListMain .header input {
    padding: 10px;
    font-size: 16px;
<<<<<<< HEAD
    border: 2px solid #FFF;
=======
    border: 2px solid #CCCCCc;
    width: 165px;
>>>>>>> 36a3cac0d69f80a7296f272bf419b78543c84d27
  }

  .todoListMain .header select {
    padding: 9px;
    margin-left: 20px;
    font-size: 16px;
    border: 2px solid #CCCCCC;
    width: 160px;
  }

  .todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: rgb(255, 0, 0);
    color: #FFF;
    border: 2px solid #0066FF;
  }
  .todoListMain .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }
  .todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 400px;
    display: flex; 
    flex-direction: column;
  } 

  .todoListMain .theList li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
   
  }

  .todoListMain .theList .Top {
    color: #FFF;
    background-color: rgba(109, 43, 43, 0.9);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    order: 1;
  }

  .todoListMain .theList .Middle {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    order:2;
  }

  .todoListMain .theList .Bottom {
    color: #333;
    background-color: rgba(61,123,30,.87);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    order:3;
  }

  .todoListMain .theList .Done {
    color: #fff;
    background-color: rgba(34, 34, 34, 0.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    order:4;
  }

  .todoListMain .theList li span {
    color: red;
    margin-left: 350px;
    vertical-align: top;
    float:right;
  }
   
  .todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
  }

  .longBox{
    width:400px;
  }